@model ApplicationUser

@{
    ViewBag.Title = "User Profile";
}

<h2>Your profile:</h2>

<dl>
    <dt>@Html.DisplayNameFor(m => m.Email)</dt>
    <dd>@Html.DisplayFor(m => m.Email)</dd>
    <!-- OR combined conditional, because we can at least display a last name
         if the first name isn't present -->
    @if (!string.IsNullOrEmpty(Model.FirstName) ||
         !string.IsNullOrEmpty(Model.LastName))
    {
        <dt>Name (First and Last)</dt>
        <dd>@Model.FirstName @Model.LastName</dd>
    }
    <dt>@Html.DisplayNameFor(m => m.HomeState)</dt>
    <dd>@Html.DisplayFor(m => m.HomeState)</dd>
    <dt>@Html.DisplayNameFor(m => m.GrillingPreference)</dt>
    <dd>@Html.DisplayFor(m => m.GrillingPreference)</dd>
</dl>