@model IEnumerable<Product>

@{
    ViewBag.Title = "Administrate";
}

<h2>Hello, @User.Identity.Name</h2>
<strong>Welcome to your super secret adminstration dashboard!</strong>
<h3>Here are our exciting products:</h3>
<a asp-action="Create">Create New Product</a>

@if (Model.Count() < 1)
{
    <p>Uh.....we actually don't have any products yet. Whoops!</p>
}
else
{
    @foreach (var product in Model)
    {
        <hr />
        <a asp-action="Edit" asp-route-id="@product.Id">Edit</a><br />
        <a asp-action="Delete" asp-route-id="@product.Id">Delete</a><br />
        <dl>
            <dt>Product Name</dt>
            <dd>@product.Name</dd>
            <dt>Price</dt>
            <dd>$@product.Price</dd>
            <dt>Description</dt>
            <dd>@product.Description</dd>
            <dt>Image</dt>
            <dd><img src="@product.ImageHref" /></dd>
        </dl>
    }
}
